# See http://help.github.com/ignore-files/ for more about ignoring files.

# secret keys
.env

# dependencies
node_modules

# production
build

#package lock files
package-lock.json

# misc
.DS_Store
npm-debug.log
